.notification-container {
    position: fixed;
    display: flex;
    bottom: 20px;
    right: 20px;
    background-color: #0b99ff;
    color: white;
    padding: 20px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
  }
  
  .appointment-card__content {
    display: flex;
    flex-direction: column;
  }
  
  /* Add any additional styling you need */
 