.reviews-container {
    margin: 10%;
    padding: 20px;
    margin-top: 20px;
   }
   th {
       padding: 10px;
       background-color: lightgray;
   }
   .report-table {
       width: 100%;
   }
   p {
    margin-bottom: 20px; /* Adjust as needed */
   }
   .give-review-button:disabled {
    background-color: #dddddd; /* Grey */
    color: #555555;
    cursor: not-allowed;
}